body{
background: linear-gradient(135deg, #a8edea, #fed6e3);
color: #333;
font-family: 'Poppins', 'Roboto', sans-serif !important;
box-sizing: border-box;
} 

/* Navbar */

nav{
height: 4rem;
box-shadow: 0 4px 10px rgba(0, 255, 255, 0.2);
position: fixed;  
}

.nav-logo{
font-weight: 700;
color: black;
}

.nav-logo span{
color: aqua;
font-size: 1rem;
font-weight: 500;
}

.btn-color{
background-color: white;
outline: black;
}

.btn-color:hover{
background-color: aqua;
color: white;
}


/* About */

#about{
    margin-top: 4rem;
}

.about-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-heading span{
    color: aqua;
}

.about-text{
    margin: 10px 10rem;
    text-align: center; 
    font-size: 1.2rem;
}

/* DARK MODE */
.dark nav {
  background-color:grey !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4) !important;
}


.dark nav * {
  color: white !important;
}


.dark .dropdown-menu {
  background-color: #222 !important;
}

.dark .dropdown-item {
  color: white !important;
}

.dark .dropdown-item:hover {
  background-color: #333 !important;
}

.dark .navbar-toggler-icon {
  filter: invert(1);
}

.dark .about-text{
  background: #1A1A1A;
  color: #fff !important;
}

.dark .A-heading{
  color: aqua !important;
}

.dark .B-text{
  color: aqua !important;
}

.dark{
  background: #1A1A1A;
  color: #fff !important;
}
